{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}



{% block body %}
    <section class="container mt-3">
        <h1>Liste de la catégorie : {{ category.name }}</h1>

        {% for book in category.book %}
            <div class="row">
                <div class="col-md-3">
                    {% include 'book/card.html.twig' with {'book' : book} only %}
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}

