{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
    <header>
        HEADER INDEX
    </header>
{% endblock %}


{% block body %}
    <div>
        hfeuzhfiezhfoizl
    </div>
{% endblock %}


